@use '../sass/abstracts/mixins';

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .gridItem {
        text-align: center;
        width: 100%;
        margin-bottom: 1rem;
        @include mixins.breakpoint(tablet) {
            width: 50%;
        }
        @include mixins.breakpoint(tablet) {
            width: calc(100%/3);
        }
        .gridItemImage {
            width: 100%;
            height: auto;
        }
    }
}